@model EyeOfGods.Models.ViewModels.StatisticsViewModel
@{
    ViewBag.Title = "";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="pageBlock">
    <div class="leftMenu">
        <div class="menuButton"><div class="menuButtonText">Привязать типы стрелкового</div></div>
        <div class="menuButton"><div class="menuButtonText">Привязать приказы родам войск</div></div>
        <div class="menuButton"><div class="menuButtonText">Привязать все к отрядам</div></div>


    </div>





    <div class="content">
        <div>
            <div class="bigHeader">Статистика по базе данных:</div>
            <div class="allStatistics">
                <div class="statisticsBlock">
                    <div class="minorHeader">Количество отрядов - @Model.UnitsCount</div>
                    <div class="statisticsData">
                        <div class="statisticsDataHeader">Рода войск:</div>
                        <div class="statisticsDataRow">Пехота - @Model.InfantryCount</div>
                        <div class="statisticsDataRow">Кавалерия - @Model.CavaleryCount</div>
                        <div class="statisticsDataRow">Монстры - @Model.MonsterCount</div>
                        <div class="statisticsDataRow">Артиллерия - @Model.ArtilleryCount</div>
                        <div class="statisticsDataRow">Гиганты - @Model.GiantsCount</div>
                        <div class="statisticsDataRow">Техника - @Model.VenicleCount</div>
                        <div class="statisticsDataRow">Авиация - @Model.AviationCount</div>
                    </div>
                    <div style="display:flex;flex-direction:column;">
                        <div class="statisticsDataHeader">Защитные характеристики:</div>
                        @foreach (var item in Model.DefenceChars)
                        {
                            <div class="statisticsDataRow"></div>




                            item.CharacteristicName
                        }
                        @*//////Тут нужен форыч по 3 видам характеристик и вью модель/////*@
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                        <div style="margin-bottom:2px;">1 - </div>
                        <div style="margin-bottom:2px;">2 - </div>
                    </div>
                </div>
                <div id="statisticsBlock" style="display: flex; flex-direction: column; width: 49%;">
                    <div style="font-weight:bold;margin-bottom:2px;">Количество оружия ближнего боя - </div>
                    <div style="display:flex;flex-direction:column;">
                        <div style="font-weight:bold;margin-bottom:2px;">Типы оружия:</div>
                        <div style="margin-bottom:2px;">Копье - </div>
                        <div style="margin-bottom:2px;">Пика - </div>
                        <div style="margin-bottom:2px;">Одноручное - </div>
                        <div style="margin-bottom:2px;">Парное - </div>
                        <div style="margin-bottom:2px;">Двуручное - </div>
                        <div style="margin-bottom:2px;">Алебарда - </div>
                    </div>
                </div>
                <div id="statisticsBlock" style="display: flex; flex-direction: column; width: 49%;">
                    <div style="font-weight:bold;margin-bottom:2px;">Количество оружия дальнего боя - </div>
                    <div style="display:flex;flex-direction:column;">
                        <div style="font-weight:bold;margin-bottom:2px;">Типы оружия:</div>
                        <div style="margin-bottom:2px;">Легкое - </div>
                        <div style="margin-bottom:2px;">Тяжелое - </div>
                        <div style="margin-bottom:2px;">Артиллерийское - </div>
                    </div>
                </div>
                <div id="statisticsBlock" style="display: flex; flex-direction: column; width: 49%;">
                    <div style="font-weight:bold;margin-bottom:2px;">Количество щитов - </div>
                </div>
            </div>
        </div>



    </div>
</div>