@model EyeOfGods.Models.ViewModels.StatisticsViewModel
@{
    ViewBag.Title = "";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@* <script src="~/js/Start.js" /> *@

<div class="pageBlock">
    <div class="leftMenu">
        <div class="menuButton" onclick="GenerateUnits()"><div class="menuButtonText">Добавить <span><span>-</span><input type="number" id="count" value="3" /></span><span>+</span> отряда(-ов)</div></div>


    </div>


    <div class="content">
        <div class="loneBlock bigHeader">Статистика по базе данных:</div>
        <div class="allStatistics">
            <div id="first" class="loneBlock statisticsBlock">
                <div class="minorHeader">Количество отрядов - <span id="unitsCount"></span></div>
                <div class="statisticsData">
                    <div class="statisticsDataHeader">Рода войск:</div>
                    <div class="statisticsDataRow">Пехота - <span id="infantryCount"></span></div>
                    <div class="statisticsDataRow">Кавалерия - <span id="cavaleryCount"></span></div>
                    <div class="statisticsDataRow">Монстры - <span id="monsterCount"></span></div>
                    <div class="statisticsDataRow">Артиллерия - <span id="artilleryCount"></span></div>
                    <div class="statisticsDataRow">Гиганты - <span id="giantsCount"></span></div>
                    <div class="statisticsDataRow">Техника - <span id="venicleCount"></span></div>
                    <div class="statisticsDataRow">Авиация - <span id="aviationCount"></span></div>
                </div>
                <div style="display:flex;flex-direction:column;">
                    <div class="statisticsDataHeader">Защитные характеристики:</div>
                    @foreach (var item in Model.DefenceChars)
                    {
                        <div class="statisticsDataRow">@item.CharacteristicName - @item.UsageCount</div>
                    }
                    <div class="statisticsDataHeader">Характеристики выносливости:</div>
                    @foreach (var item in Model.EnduranceChars)
                    {
                        <div class="statisticsDataRow">@item.CharacteristicName - @item.UsageCount</div>
                    }
                    <div class="statisticsDataHeader">Ментальные характеристики:</div>
                    @foreach (var item in Model.MentalChars)
                    {
                        <div class="statisticsDataRow">@item.CharacteristicName - @item.UsageCount</div>
                    }
                </div>
            </div>
            <div class="loneBlock statisticsBlock">
                <div class="minorHeader">Количество оружия ближнего боя - @Model.MeleeWeaponsCount</div>
                <div class="statisticsData">
                    <div class="statisticsDataHeader">Типы оружия:</div>
                    @foreach (var item in Model.MeleeWeaponsTypes)
                    {
                        <div class="statisticsDataRow">@item.WeaponStatName - @item.UsageCount</div>
                    }
                </div>
            </div>
            <div class="loneBlock statisticsBlock">
                <div class="minorHeader">Количество оружия дальнего боя - <span id="rangeWeaponsCount"></span></div>
                <div class="statisticsData">
                    <div class="statisticsDataHeader">Типы оружия:</div>
                    @foreach (var item in Model.RangeWeaponsTypes)
                    {
                        <div class="statisticsDataRow">@item.WeaponStatName - @item.UsageCount</div>
                    }
                </div>
            </div>
            <div class="loneBlock statisticsBlock">
                <div class="statisticsDataHeader">Количество щитов - <span id="shieldsCount"></span></div>
            </div>
        </div>
    </div>



</div>

<script>
    async function GenerateUnits() {
        let count = document.getElementById("count").value;

        // отправляет запрос и получаем ответ
        const response = await fetch('/api/GensAndStat/GenUnit?count=3', {
            method: "POST",
            headers: { "Accept": "application/json" }
        });
        //// если запрос прошел нормально
        // if (response.ok === true) {
        //     // получаем данные
        //     alert("Урааа!!!");
        //     // добавляем полученные элементы в таблицу
        //     // users.forEach(user => rows.append(row(user)));
        // }
        // else {
        //     alert("Фуууу!!!");
        // }
    }
</script>
@* <script src="~/js/Start.js"></script> *@